@tailwind base;
@tailwind components;
@tailwind utilities;

@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);

body {
  font-family: "Spoqa Han Sans Neo", "sans-serif";
}
html {
  font-size: 62.5%;
}
@media (max-width: 1440px) {
  html {
    font-size: 46.8%;
  }
}

/* @media (max-width: 1120px) {
  html {
    font-size: 39%;
  }
} */

* {
  box-sizing: border-box;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
  -webkit-transition: background-color 9999s ease-out;
  -webkit-box-shadow: 0 0 0px 1000px white inset !important;
}

.H1 {
  font-weight: 700;
  font-size: 2.4rem;
}
.H2 {
  font-weight: 500;
  font-size: 1.8rem;
}
.H3 {
  font-weight: 400;
  font-size: 1.8rem;
}

.Sub1 {
  font-weight: 700;
  font-size: 1.6rem;
}
.Sub2 {
  font-weight: 500;
  font-size: 1.6rem;
}

.Cap1 {
  font-weight: 400;
  font-size: 1.5rem;
}
.Cap2 {
  font-weight: 500;
  font-size: 1.5rem;
}
.Cap3 {
  font-weight: 500;
  font-size: 1.4rem;
}
.Cap4 {
  font-weight: 400;
  font-size: 1.4rem;
}
